@model DO_AN_PTUD.Models.Post

<div class="content">
    <div class="grid wide">
        <div class="row">
            @await Component.InvokeAsync("RencentPost")
               
            </div>
          




    </div>
</div>